
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Components
@import "components/nav";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	padding-top: 70px;
}

.profile-cir {
	border: 2px solid gray;
	border-radius: 50%;
	height: 34px;
	width: 34px;
}

.profile-last-com {
	border-radius: 50%;
	float: left;
	margin-right: 3px;
	height: 40px;
	width: 40px;	
}